.footer {
	width: 100%;
	min-height: var(--header-footer-height);

	padding: 1.25rem 0;
	border-top: 1px solid var(--line-color);

	display: flex;
	justify-content: center;
	align-items: center;
}

.footer__text {
	width: var(--container-width);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	gap: var(--small-gap);
}

.footer__text p {
	color: var(--muted-color);
	font-family: var(--secondary-font);
	font-size: 0.9rem;
	text-align: center;
}

.footer__text p a {
	text-decoration: none;
	color: var(--blood-color);
}

.footer__text p a:hover {
	color: var(--text-color);
}
