/* simple css reset */
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Permanent+Marker&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

/* simple css reset */
.App {
  width: 100%;
  height: 100%;
  min-height: 100vh;

  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  opacity: 0;
  width: 50%;
  height: 50%;
  max-width: 500px;
  max-height: 500px;
  margin-bottom: 2em;

  box-shadow: inset 0px 0px 15px 15px black;

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  animation: image-animation infinite 20s ease-in-out;
}

.quote {
  opacity: 0;
  width: 60%;

  color: white;
  font-family: "Bangers", cursive;
  font-size: clamp(1.2rem, 2vw, 3rem);
  line-height: 1.2;
  letter-spacing: 3px;

  text-align: center;

  animation: quote-animation infinite 20s ease-in-out;
}

.audio-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-500px) translateY(-50%);
}

.audio-container button {
  font-size: 2rem;
  background-color: transparent;
  color: white;
  filter: grayscale(100%);
}

.audio-container button:hover {
  cursor: pointer;
}

.person {
  margin-left: 1em;
  border-left: solid 1px white;
  padding-left: 1em;
}

@keyframes image-animation {
  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes quote-animation {
  20% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
}

@media (max-width: 1279px) {
  .image {
    width: 80%;
  }

  .quote {
    white-space: normal;
    width: 90%;
  }

  .audio-container {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
  }
}
