html {
	color: var(--text-color);
	font-size: var(--base);
	font-family: var(--main-font);
}

body {
	background-color: var(--dark-main);
}

.page {
	height: fit-content;

	background-color: var(--dark-main);
	padding: var(--page-padding);

	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	width: var(--container-width);
}
