@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap");

:root {
	/**COLORS*/
	--dark-main: rgb(23, 23, 23);
	--dark-accent: rgb(68, 68, 68);
	--light-main: rgb(237, 237, 237);
	--light-accent: rgb(187, 20, 20);
	--text-color: var(--light-main);

	/**TEXT*/
	--main-font: "Red Hat Display", sans-serif;
	--secondary-font: "Sedgwick Ave", cursive;
	--base: 18px;
	--xl: 3rem;
	--lg: 2rem;
	--md: 1.5rem;
	--sm: 1rem;
	--text-spacing: 1px;
	--text-shadow-light: rgba(68, 68, 68, 0.75);

	/**WIDTHS*/
	--container-width: 1200px;
	--logo-width: 50px;

	/**HEIGHTS*/
	--header-height: 100px;

	/**PADDINGS*/
	--page-padding: 2em 0;
	--simple-padding: 1em;
	--small-padding: 0.25em;

	/**GAPS*/
	--normal-gap: 2em;
	--small-gap: 1em;
}
