@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;700&display=swap");

:root {
	/**COLORS*/
	--dark-main: #171717;
	--dark-accent: #444444;
	--light-main: #ededed;
	--light-accent: #da0037;
	--text-color: var(--light-main);

	/**TEXT*/
	--main-font: "Red Hat Display", sans-serif;
	--base: 24px;
	--xl: 3rem;
	--lg: 2rem;
	--md: 1rem;
	--text-spacing: 2px;

	/**WIDTHS*/
	--container-width: 1200px;

	/**GAPS*/
	--normal-gap: 2em;
	--small-gap: 1em;
}
